/*
  ==========================================================
  Main elements
  ==========================================================
  */

html{
  color: white;
  font-size: 20px;
  background-color: black;
  overflow-x: hidden; /*this means that it won't scroll in the x axis*/
  scroll-behavior: smooth;
}

li{
  list-style: none;
}
h1{
  text-transform: uppercase;
  color: #B57B7B;
}
span{
  letter-spacing: 3px;
}


/*
  ==========================================================
  Custom classes
  ==========================================================
 */



@keyframes slideLeft {
  from {
    margin-bottom: 100%;
  }

  to {
    margin-top: 0%;
  }
}


.fName {

  animation-name: slideLeft;
  animation-duration: 2s;
}

.mlName {
  background-color: orange;
  color: darkgray;
  text-align: center;
  font-size: 100px;
  width: 100%;
  animation-name: slideLeft;
  animation-duration: 3.5s;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.flex-fname{
  color: #A37C7C;
  font-size: 80px;
  text-align: left;
  margin-left: 0%;
  padding-top: 50px;
  padding-bottom: 30px;
  line-height: 0.65;
}

/* The navbar container */
.topnav {
  overflow: hidden;
  background-color: black;
  position: sticky;
  top: 0;
  width: 85%;
}


/* Navbar links */
.topnav a {
  float: left;
  display: block;
  color: lightgray;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Links - change color on hover */
.topnav a:hover, focus{
  transition: all 0.5s ease-out;
  color: black;
  background-color: lightgray;
  border-left: lightsalmon 2px solid;
}

.cards{
  height:200px;
  align-self: center;
  text-align: left;
  padding-top: 15%;
}

.cards a{
  color: chocolate;
  text-decoration: none;
  font-size: 18px;
}
.cards a:visited {
  color: chocolate;
  text-decoration: none;

}
.cards p{
  padding-right: 150px;
  text-indent: 50px;
}

#hobbies{
  height: 500px;
}

@keyframes openup {
  from {
    border-radius: 50%;
    height: 32px;
    width: 32px;
  }

  to {
    border-radius: 0%;
    height: 50px;
    width: 50px;
  }
}
.left{
  display: block;
  width: 20%;
  float: left;
}
.left img{
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.left a{
  text-decoration: none;
}
.left img:hover{
  animation-name: openup;
  animation-duration: 0.5s;
}


.mid{
  display: block;
  width: 70%;
  float: left;
}
.right{
  display: grid;
  width: 10%;
  height: 100vh;
  position: fixed;
  right: 0;
  grid-template-rows: 200px 200px auto 200px 200px;
  grid-template-columns: auto auto;
}
.smallHeartItem{
  grid-row-start: 5;
  grid-row-end: 6;
  grid-column-start: 2;
  grid-column-end: 3;
}
